/* Bulma Framework */
@import "../../../node_modules/bulma/bulma";

/* Webfonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,900');
/* Variables - Fonts */
$header-font: 'Source Code Pro', monospace;
$body-font: 'Source Code Pro', monospace;

/* Variables - Colors */
$body-font-color: #000;
$dark-gray: #131313;
$medium-gray: #1d1d1d;
$light-gray: #e1e1e1;
$deep-purple: #362e4a;
$green: #33ff99;
$white: #ffffff;

/* Variables - Layout */
$mobile-padding: 40px 0;
$desktop-padding: 100px 0;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Text selection color */
p::selection { background: $green; }
p::-moz-selection { background: $green; }

html {
  background-color: $medium-gray;
}

body {
  background-color: $dark-gray;
  font-family: $body-font;
  font-size: 1.1rem;
  color: $body-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

.section-header-text {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 800px;
  @include desktop { padding: 0; }

  figure {
    margin-bottom: 20px;
  }

  .section-header {
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 34px;
    text-transform: uppercase;
    display: inline-block;
  }

  .section-subheader {
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
  }

  .section-text {
    margin-bottom: 20px;
  }
}

.column {
  margin-bottom: 20px;
  @include desktop { margin-bottom: 0; }
}

#intro {
  margin: 0 auto;
  background-color: $medium-gray;
  position: relative;
}

.hero-head {
  padding: 5px 0;
  background-color: $deep-purple;

}

.hero-body {
    background-color: $deep-purple;
}

#intro-img {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 30px;
}

#intro-header-text {
  margin: 0 auto;
  max-width: 800px;
  @include desktop {
    margin: auto;
    position: absolute;
    top: 70%; left: 0; bottom: 0; right: 0;
  }

  #intro-header {
    margin-top: 20px;
    color: $white;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 12.5px;
    text-align: center;
  }

  #intro-sub {
    font-family: $header-font;
    color: $white;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.hero-foot {
  padding-bottom: 20px;
  background-color: $deep-purple;
  @include desktop {
    margin: auto;
    position: absolute;
    top: 90%; left: 0; bottom: 0; right: 0;
  }
}

/* -- Layout: WHAT IS ERC-721 -- */

#what-is-erc-721 {
  padding: $mobile-padding;
  background-color: $white;
  @include desktop {
    padding: $desktop-padding;
  }
}

/* --------------------------- */

#denom-scale {
  padding: $mobile-padding;
  background-color: $medium-gray;
  @include desktop {
    padding: $desktop-padding;
  }
}

#denom-scale-container {
  padding: 0 1.5rem;
  max-width: 800px;
  overflow: hidden;
  @include desktop {
    padding: 0;
  }
}

.denom-scale-badge {
  margin: 0 auto;
  width: 157px;
  height: 150px;
  position: relative;
  @include desktop {
    margin: 140px 0 0 0;
    float: left;
    position: absolute;
  }

  .denom-badge-value {
    font-family: $header-font;
    color: $green;
    font-size: 57px; letter-spacing: 2.7px;
    width: 104px;
    display: block;
    margin: auto;
    position: absolute;
    top: 10px; left: 20px; bottom: 0; right: 0;

    sup {
      vertical-align: super;
      font-size: 14px;
    }
  }

  .denom-badge-badge {
    width: 35px; height: 33px;
    position: absolute;
    bottom: 0;
    background:linear-gradient(135deg,transparent 49%,$green 50%,transparent 51%);
  }

  .denom-badge-denom {
    font-family: $header-font;
    color: $green;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-left: 30px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
  }
}

.equal-scale {
  display: none;
  @include desktop {
    width: 35px;
    padding-bottom: 10px;
    border-bottom: 10px solid $green;
    margin: 200px 0 0 200px;
    float: left;
    display: block;

    &:after {
      content: "";
      display: block;
      border-bottom: 10px solid $green;
    }
  }
}

.denom-scale-context {
  font-family: $header-font;
  color: $green;
  font-size: 18px; line-height: 1.82;
  margin: 20px 0 0 0;
  text-align: center;
  @include desktop {
    font-size: 22px;
    margin: 15px 0 0 40px;
    text-align: left;
    float: left;
  }

  p { transition: all 0.2s ease-in-out; }

  p:hover {
    color: #fff;
    cursor: pointer;
  }
}

#atto-scale {
  opacity: 1;
}

/* -- Layout: ERC-20 VS ERC-721 -- */

#erc-20 {
  background-color: $white;
  padding: $mobile-padding;
  @include desktop {
    padding: $desktop-padding;
  }

  #erc-20-columns {
    padding: 0 1.5rem;
    margin-top: 40px;
    flex-flow: wrap;
    @include desktop {
      padding: 0;
    }

    h3 {
      color: $green;
      margin: 0;
      font-size: 22px;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 15px 0 0 0;
    }
  }
}

/* --------------------------- */

/* -- Layout: THE SPEC -- */

#interface-spec {
  background-color: $white;
  padding: $mobile-padding;
  @include desktop {
    padding: $desktop-padding;
  }

  #erc-20-columns {
    padding: 0 1.5rem;
    margin-top: 40px;
    flex-flow: wrap;
    @include desktop {
      padding: 0;
    }

    h3 {
      color: $green;
      margin: 0;
      font-size: 22px;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 15px 0 0 0;
    }
  }
}

/* --------------------------- */

/* -- Layout: ERC-721 SUPPORTERS -- */

#supporters {
  background-color: $white;
  padding: $mobile-padding;
  @include desktop {
    padding: $desktop-padding;
  }

  .supporter {
    max-width : 200px;
    max-height : 200px;
    width : 175px;
    height : 175px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  #supporters-columns {
    padding: 0 1.5rem;
    margin-top: 40px;
    flex-flow: wrap;
    @include desktop {
      padding: 0;
    }

    h3 {
      color: $green;
      margin: 0;
      font-size: 22px;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 15px 0 0 0;
    }
  }
}

/* --------------------------- */

/* -- Layout: GET STARTED -- */

#get-started {
  padding: $mobile-padding;
  background-color: $deep-purple;
  @include desktop {
    padding: $desktop-padding;
  }

  .get-started-header {
    color: white;
  }

  #get-started-columns {
    height: 100px;
    color: white;
    border: 1px;
    border-color: white;

    .column {
      margin-bottom: 20px;
      padding: 5px 15px;
      display: inline-block;
    }
  }

  .get-started-links {
    padding-top: 30px;
    font-size: 22px;
    height: 100px;
    color: $white;
    border: 2px solid white;
  }
}

/* --------------------------- */

/* -- Layout: PREVIOUS PROJECTS -- */

#previous-projects {
  background-color: $light-gray;

  .project {
    max-width : 200px;
    max-height : 200px;
    width : 100px;
    height : 100px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
}

/* --------------------------- */

/* -- Layout: FOOTER -- */

#rdr-footer {
  background: $medium-gray;

  h4 {
    font-size: 14px;
    color: white;
  }

  #rdr-0x-footer-img {
    max-width: 200px;
  }
}

/* --------------------------- */

/* -- Global Styles: Badge + Denomination --*/
/* -- used in 'NO GWEI?' section --*/

.denom-badge {
  margin: auto;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 157px;
  height: 150px;
  position: relative;
  @include desktop {
    float: left;
  }

  .denom-badge-value {
    font-family: $header-font;
    color: $green;
    font-size: 57px; letter-spacing: 2.7px;
    width: 104px;
    display: block;
    margin: auto;
    position: absolute;
    top: 10px; left: 20px; bottom: 0; right: 0;

    sup {
      vertical-align: super;
      font-size: 14px;
    }
  }

  .denom-badge-badge {
    width: 35px; height: 33px;
    position: absolute;
    bottom: 0;
    background:linear-gradient(135deg,transparent 49%,$green 50%,transparent 51%);
  }

  .denom-badge-denom {
    font-family: $header-font;
    color: $green;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-left: 30px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
  }
}

.equal {
  display: none;
  @include desktop {
    width: 35px;
    padding-bottom: 10px;
    margin: 60px 0 0 40px;
    float: left;
    display: block;

    &:after {
      content: "";
      display: block;
      border-bottom: 10px solid $green;
    }
  }
}

.denom-context {
  font-family: $header-font;
  color: $green;
  font-size: 18px; line-height: 1.82;
  margin: 20px 0 0 0;
  text-align: center;
  @include desktop {
    font-size: 22px;
    margin: 15px 0 0 40px;
    text-align: left;
    float: left;
  }

  .denom-link {
    margin-top: 60px;

    a {
      color: #fff;
      transition: all 0.2s ease-in-out;
      position: relative;

      &:hover {
        color: $green;
      }
    }

    a:after {
      content: "\2192";
      font-family: $header-font;
      color: $green;
      font-size: 22px;
      margin: 0 0 0 20px;
      transition: all 0.2s ease-in-out;
      position: absolute;
    }

    a:hover:after {
      margin: 0 0 0 25px;
    }
  }
}

/* -- Global Styles: Glitch Effect -- */

/* Glitch styles */
.glitch {
	position: relative;
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
	margin: 0 auto;
}
